/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.traffic_light{
  height: 600px;
  width: 200px;
  background-color: #333;
  border-radius: 40px;
  margin: 30px auto;
  padding: 20px;
}
.light{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 25px auto;
  margin: 25px auto;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}
.glow{
    box-shadow: 20px 20px 60px rgba(255, 255, 255, 0.5)  ; 
	-webkit-box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.5)  ; 
	-moz-box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.5)  ; 
}
